*{
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    background-color: cornsilk;
}

h1{
    color: crimson;
}

#image_ja{
    float: right;
    width: 50%;
    margin: 5px;
}

#image_mp{
    float: left;
    width: 50%;
    margin: 5px;
}